// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.spirit {
  line-height: 3.0rem;
}

.spirit h3 {
  letter-spacing: 0.4rem;
  font-weight: 600;
}
.spirit > ul {
  margin-bottom: 40px;
}
.career {
  line-height: 3.0rem;
}
.career .details .h3 {
  border-bottom: 1px solid;
  padding-bottom: 14px;
}
.career .detail .h4 {
  border: 1px solid;
  padding: 6px;
  display: inline-block;
}
