// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.spirit {
  line-height: 3.0rem;
}

.spirit h3 {
  letter-spacing: 0.4rem;
  font-weight: 600;
}
.spirit > ul {
  margin-bottom: 40px;
}
